.v-btn.bg-primary:hover {
    background-color: rgb(var(--v-theme-primary-hover))!important;
}
/* Card Type Specific Styles */
.error-card {
	border-left-color: rgb(var(--v-theme-error)) !important;
	background: rgba(255, 82, 82, 0.08)!important;
}

.success-card {
	border-left-color: rgb(var(--v-theme-success)) !important;
	background: rgba(76, 175, 80, 0.08)!important; 
}

.warning-card {
	border-left-color: rgb(var(--v-theme-warning)) !important;
	background:rgba(255, 193, 7, 0.08)!important; 
}

.info-card {
	border-left-color: rgb(var(--v-theme-info)) !important;
	background: rgba(33, 150, 243, 0.08)!important; 
}
.v-btn.v-btn--disabled {
	cursor: disabled!important;
}
.v-pagination__item--is-active .v-btn.v-btn--disabled {
	background-color: rgb(var(--v-theme-primary-hover))!important;
	color: white!important;
	opacity: 0.6!important;
}

.v-pagination__next .v-btn.v-btn--variant-text, .v-pagination__last .v-btn.v-btn--variant-text, .v-pagination__prev .v-btn.v-btn--variant-text, .v-pagination__first .v-btn.v-btn--variant-text{
	opacity: 0.7;
}